#### 1. Suppose you have a dataset containing daily temperature readings for a city, and you want to identify days with extreme temperature conditions. Find days where the temperature either exceeded 35 degrees Celsius (hot day) or dropped below 5 degrees Celsius (cold day).<hr/>
Input:<br/>
`temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])<br/>`
Output:<br/>
Hot days:<br/>
`days           tempreatures`<br/>
3                   36.8<br/>
6                   38.7<br/>
7                   37.2<br/>
Cold days:<br/>
`days           tempreatures`<br/>
11                    4.0<br/>
14                   -4.0<br/>
15                   12.0<br/>

In [ ]:
import numpy as np
temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])
truth_table1 = temperatures > 35
truth_table2 = temperatures < 5
print("Hot days")
for i in range(len(temperatures)):
    if truth_table1[i] == True:
        print(i,"       ",temperatures[i])
print("Cold days")
for i in range(len(temperatures)):
    if truth_table2[i] == True:
        print(i,"       ",temperatures[i])

#### 2. Suppose you have a dataset containing monthly sales data for a company, and you want to split this data into quarterly reports for analysis and reporting purposes.<hr/>
Input:<br/>
`monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])`<br/>

Output:<br/>
`Quater 1 Sales (in thousands of dollars): [120, 135, 148]`<br/>
`Quater 2 Sales (in thousands of dollars): [165 180 205]`  <br/>
`Quater 3 Sales (in thousands of dollars): [168, 190, 205]`<br/>
`Quater 4 Sales (in thousands of dollars): [198, 210, 225]`

In [ ]:
import numpy as np
monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])
quaterly_sales = np.split(monthly_sales, 4)
# print(quaterly_sales)
for i in range(len(quaterly_sales)):
    print(f"Quater {i + 1} Sales (in thousands of dollars): {quaterly_sales[i]}")

#### 3. Suppose you have a dataset containing customer data, and you want to split this data into two groups: one group for customers who made a purchase in the last 30 days and another group for customers who haven't made a purchase in the last 30 days.<hr/>
Input:<br/>
`customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])`<br/>
`last_purchase_days_ago = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])`<br/>
Output:<br/>
Active customers(last purchase <= 30 days ago): `array([101, 102, 103, 104, 105])`<br/>
Inactive customers(last purchase > 30 days ago): `array([101, 102, 103, 104, 105])`<br/>

In [ ]:
import numpy as np
customer_ids = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])
last_purchase_days_ago = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])

active_list = last_purchase_days_ago <= 30
inactive_list = last_purchase_days_ago > 30

print(f'Active customers(last purchase <= 30 days ago): {customer_ids[active_list]}')
print(f'Inactive customers(last purchase > 30 days ago): {customer_ids[inactive_list]}')

#### 4.Suppose you have two sets of employee dataâ€”one containing information about full-time employees and another containing information about part-time employees. You want to combine this data to create a comprehensive employee dataset for HR analysis.<hr/>
Input:<br/>
*Employee data for full-time employees*<br/>
`full_time_employees = np.array([`<br/>
`[101, 'John Doe', 'Full-Time', 55000],`<br/>
`[102, 'Jane Smith', 'Full-Time', 60000],`<br/>
`[103, 'Mike Johnson', 'Full-Time', 52000]`<br/>
`])`<br/>
*Employee data for part-time employees*<br/>
`part_time_employees = np.array([`<br/>
`    [201, 'Alice Brown', 'Part-Time', 25000],`<br/>
`    [202, 'Bob Wilson', 'Part-Time', 28000],`<br/>
`    [203, 'Emily Davis', 'Part-Time', 22000]`<br/>
`])`<br/>
Output:<br/>
*combined Employee data:*<br/>
`Employee ID : 101, Name : John Doe     , Position : Full-Time, Salary : 55000`<br/>
`Employee ID : 102, Name : Jane Smith   , Position : Full-Time, Salary : 60000`<br/>
`Employee ID : 103, Name : Mike Johnson , Position : Full-Time, Salary : 52000`<br/>
`Employee ID : 201, Name : Alice Brown  , Position : Part-Time, Salary : 25000`<br/>
`Employee ID : 202, Name : bob wilson   , Position : Part-Time, Salary : 28000`<br/>
`Employee ID : 203, Name : Emily Davis  , Position : Part-Time, Salary : 22000`

In [ ]:
import numpy as np

# Employee data for full-time employees
full_time_employees = np.array([
                                [101, 'John Doe', 'Full-Time', 55000],
                                [102, 'Jane Smith', 'Full-Time', 60000],
                                [103, 'Mike Johnson', 'Full-Time', 52000]
                               ])
# Employee data for part-time employees
part_time_employees = np.array([
                                [201, 'Alice Brown', 'Part-Time', 25000],
                                [202, 'Bob Wilson', 'Part-Time', 28000],
                                [203, 'Emily Davis', 'Part-Time', 22000]
                               ])

combined_employees = np.concatenate((full_time_employees, part_time_employees), axis=0)

print('combined Employee data:\n')
for i in range(len(combined_employees)):
    print(f"Employee ID : {combined_employees[i][0]}, Name : {combined_employees[i][1]}, Position : {combined_employees[i][2]}, Salary : {combined_employees[i][3]}")

# *Assignment:*

#### 1. How to find the mean of every NumPy array in the given list?<hr/>
Input:<br/>/
`list = [`
`np.array([3, 2, 8, 9]),`
`np.array([4, 12, 34, 25, 78]),`
`np.array([23, 12, 67])`
`]`<br/>
Output:<br/>
Mean of every array is:
`[5.5, 30.6, 34.0]`

In [ ]:
import numpy as np
list = [
        np.array([3, 2, 8, 9]),
        np.array([4, 12, 34, 25, 78]),
        np.array([23, 12, 67])
       ]
mean_list = [np.mean(i) for i in list]
print(f'Mean of every array is : {mean_list}')

#### 2. Compute the median of the flattened NumPy array.<hr/>
Input:<br/>
`x_odd = np.array([1, 2, 3, 4, 5, 6, 7])`<br/>
Output:<br/>
`Printing the original array: [1, 2, 3, 4, 5, 6, 7]`<br/>
`median of array that contains odd numbers = 4.0`

In [ ]:
import numpy as np
x_odd = np.array([1, 2, 3, 4, 5, 6, 7])
print(f"Printing the original array : {x_odd}")
print(f"median of array that contains odd numbers : {np.median(x_odd)}")

#### 3.Compute the standard deviation of the NumPy array.<hr/>
Input:<br/>
`arr = [20, 2, 7, 1, 34]`<br/><br/>
Output:<br/>
`std of arr : 12.576167937809991`<br/><br/>
*More Precision with float32*<br/>
`std of arr : 12.576167937809991`<br/><br/>
*More Precision with float64*<br/>
`std of arr : 12.576167937809991`

In [ ]:
import numpy as np
arr = [20, 2, 7, 1, 34]

print("std of arr : ", np.std(arr))
print('More Precision with float32')
print("std of arr : ", np.std(arr, dtype = np.float32))
print('More Precision with float64')
print("std of arr : ", np.std(arr, dtype=np.float64))

<b>*4.Suppose you have a CSV file named 'house_prices.csv' with price information, and you want to perform the following operations:* </b>
- 1.Read the data from the CSV file into a NumPy array.
- 2.Calculate the average of house prices.
- 3.Identify house price above the average.
- 4.Save the list of high prices to a new CSV file.
Note: Download 'house_prices.csv' file from LMS.
<hr/>
Output:

In [19]:
import numpy as np
house_prices = np.genfromtxt('house_prices.csv', delimiter=',')

average_price = np.mean(house_prices)
above_average_prices = house_prices > average_price

print(f"Average House price: {average_price}")
print(f"High-Pricing Houses:[")
for i in range(len(house_prices)):
    if above_average_prices[i] == True:
        print(f'({i}, {house_prices[i]})')
print("]")

np.savetxt('high_prices.csv', house_prices[above_average_prices], delimiter=',', header='High Prices', comments='')

Average House price: 390625.0
High-Pricing Houses:[
(1, 450000.0)
(3, 500000.0)
(5, 400000.0)
(7, 600000.0)
]