In [1]:
import pandas as pd

In [2]:
studentData = {
        'stdid'    :  ['std101', 'std102', 'std103', 'std104', 'std105', 'std106', 'std107', 'std108', 'std109', 'std110'],
        'stdname'  :  ['Ashish Kumar', 'Abhishek Kumar', 'Aman', 'Rahul', 'Ruby', 'Suman', 'Saurab', 'Sumit', 'Kamlesh', 'Rohan'],
        'standard' :  ['10th', '10th', '10th', '10th', '10th', '10th', '10th', '10th', '10th', '10th'],
        'age'      :  [15 , 14, 15, 14, 13, 13, 15, 14, 15, 15], 
        'hindi'    :  [67 , 85, 23, 45, 89, 90, 45, 23, 45, 34], 
        'english'  :  [89, 45, 56, 67, 67, 46, 23, 45, 56, 12], 
        'maths'    :  [87, 48, 78, 45, 89, 67, 34, 67, 78, 24], 
        'science'  :  [89, 90, 78, 45, 93, 67, 45, 78, 99, 45], 
        'computer' :  [90, 45, 67, 56, 65, 67, 34, 90, 67, 56], 
        'total'    :  [422, 313, 302, 258, 403, 337, 181, 303, 345, 171]
    }

In [3]:
#* Create DataFrame
df = pd.DataFrame(studentData)

# Print the DataFrame with aligned columns
print(df.to_string())

    stdid         stdname standard  age  hindi  english  maths  science  computer  total
0  std101    Ashish Kumar     10th   15     67       89     87       89        90    422
1  std102  Abhishek Kumar     10th   14     85       45     48       90        45    313
2  std103            Aman     10th   15     23       56     78       78        67    302
3  std104           Rahul     10th   14     45       67     45       45        56    258
4  std105            Ruby     10th   13     89       67     89       93        65    403
5  std106           Suman     10th   13     90       46     67       67        67    337
6  std107          Saurab     10th   15     45       23     34       45        34    181
7  std108           Sumit     10th   14     23       45     67       78        90    303
8  std109         Kamlesh     10th   15     45       56     78       99        67    345
9  std110           Rohan     10th   15     34       12     24       45        56    171

In [5]:
#!  print student name whose marks are above 50 in english
dic = {}
for index in range (len(studentData['english'])):
    if (studentData['english'][index] > 50 ):
        # print(studentData['stdname'][key], '  ',studentData['english'][key])
        dic[studentData['stdname'][index]] = studentData['english'][index]

df2 = pd.Series(dic)
print(df2)

Ashish Kumar    89
Aman            56
Rahul           67
Ruby            67
Kamlesh         56
dtype: int64

In [6]:
#! display name and age of top 4 scorer in maths
dic = {}
list = []
for index in range(len(studentData['maths'])):
    if len(list) < 4:
        dic[studentData['maths'][index]] = [studentData['stdname'][index], studentData['age'][index]]
        list.append(studentData['maths'][index])  
    else: 
        max = list[0]
        for key in list[1:]:
            if key < max:
                max = key 
        
        if studentData['maths'][index] > max:
            list.remove(max)
            dic.pop(max)
            dic[studentData['maths'][index]] = [studentData['stdname'][index], studentData['age'][index]]
            list.append(studentData['maths'][index])
# print(list)

for i in list:
    print(i, ' ', dic[i][1], ' ', dic[i][0])

87   15   Ashish Kumar
78   15   Kamlesh
89   13   Ruby
78   15   Kamlesh

In [7]:
#! display name, id, age of student bottom three scorer in computer


dic2 = {}
list = []
for index in range(len(studentData['maths'])):
    if len(list) < 3:
        dic2[studentData['computer'][index]] = [studentData['stdname'][index], studentData['age'][index], studentData['stdid'][index]]
        list.append(studentData['computer'][index])  
    else: 
        max = list[0]
        for key in list[1:]:
            if key > max:
                max = key 
        
        if studentData['computer'][index] < max:
            list.remove(max)
            dic2.pop(max)
            dic2[studentData['computer'][index]] = [studentData['stdname'][index], studentData['age'][index], studentData['stdid'][index]]
            list.append(studentData['computer'][index])
            

for i in list:
    print(i, ' ', dic2[i][1], ' ',dic2[i][2], ' ', dic2[i][0])

45   14   std102   Abhishek Kumar
56   14   std104   Rahul
34   15   std107   Saurab

In [8]:
# studentData = [
#     ['stdid', 'stdname', 'standard', 'age', 'hindi', 'english', 'maths', 'science', 'computer', 'total'],
#     ['std101', 'Ashish Kumar',   '10th', 15 , 67 , 89, 87, 89, 90, 422],
#     ['std102', 'Abhishek Kumar', '10th', 14 , 85 , 45, 48, 90, 45, 313],
#     ['std103', 'Aman',           '10th', 15 , 23 , 56, 78, 78, 67, 302],
#     ['std104', 'Rahul',          '10th', 14 , 45 , 67, 45, 45, 56, 258],
#     ['std105', 'Ruby',           '10th', 13 , 89 , 67, 89, 93, 65, 403],
#     ['std106', 'Suman',          '10th', 13 , 90 , 46, 67, 67, 67, 337],
#     ['std107', 'Saurab',         '10th', 15 , 45 , 23, 34, 45, 34, 181],
#     ['std108', 'Sumit',          '10th', 14 , 23 , 45, 67, 78, 90, 303],
#     ['std109', 'Kamlesh',        '10th', 15 , 45 , 56, 78, 99, 67, 345],
#     ['std110', 'Rohan',          '10th', 15 , 34 , 12, 24, 45, 56, 171]
# ]

#* convert studentData list into dictionary
'''dictionary = {}
for values in range(1, len(studentData)):
    dict = {}
    for value in range(len(studentData[values])):
        dict[studentData[0][value]] = studentData[values][value]
    print(dict)
    dictionary[values] = dict
print(dictionary)'''

'dictionary = {}\nfor values in range(1, len(studentData)):\n    dict = {}\n    for value in range(len(studentData[values])):\n        dict[studentData[0][value]] = studentData[values][value]\n    print(dict)\n    dictionary[values] = dict\nprint(dictionary)'