In [1]:
from tabulate import tabulate
import pandas as pd

In [2]:
studentData = [
    ['stdid', 'stdname', 'standard', 'age', 'hindi', 'english', 'maths', 'science', 'computer', 'total'],
    ['std101', 'Ashish Kumar',   '10th', 15 , 67 , 89, 87, 89, 90, 422],
    ['std102', 'Abhishek Kumar', '10th', 14 , 85 , 45, 48, 90, 45, 313],
    ['std103', 'Aman',           '10th', 15 , 23 , 56, 78, 78, 67, 302],
    ['std104', 'Rahul',          '10th', 14 , 45 , 67, 45, 45, 56, 258],
    ['std105', 'Ruby',           '10th', 13 , 89 , 67, 89, 93, 65, 403],
    ['std106', 'Suman',          '10th', 13 , 90 , 46, 67, 67, 67, 337],
    ['std107', 'Saurab',         '10th', 15 , 45 , 23, 34, 45, 34, 181],
    ['std108', 'Sumit',          '10th', 14 , 23 , 45, 67, 78, 90, 303],
    ['std109', 'Kamlesh',        '10th', 15 , 45 , 56, 78, 99, 67, 345],
    ['std110', 'Rohan',          '10th', 15 , 34 , 12, 24, 45, 56, 171]
]

In [3]:
print(tabulate(studentData, headers="firstrow", tablefmt="grid"))

+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | standard   |   age |   hindi |   english |   maths |   science |   computer |   total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    14 |      85 |        45 |      48 |        90 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      23 |        56 |      78 |        78 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    14 |      45 |        67 |      45 |        45 |         56 |     258 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      89 |        67 |      89 |        93 |         65 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    13 |      90 |        46 |      67 |        67 |         67 |     337 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurab         | 10th       |    15 |      45 |        23 |      34 |        45 |         34 |     181 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    14 |      23 |        45 |      67 |        78 |         90 |     303 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      45 |        56 |      78 |        99 |         67 |     345 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      34 |        12 |      24 |        45 |         56 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

In [4]:
df = pd.DataFrame(studentData[1:], columns=studentData[0])  # Create DataFrame
# Print the DataFrame with aligned columns
print(df.to_string())

    stdid         stdname standard  age  hindi  english  maths  science  computer  total
0  std101    Ashish Kumar     10th   15     67       89     87       89        90    422
1  std102  Abhishek Kumar     10th   14     85       45     48       90        45    313
2  std103            Aman     10th   15     23       56     78       78        67    302
3  std104           Rahul     10th   14     45       67     45       45        56    258
4  std105            Ruby     10th   13     89       67     89       93        65    403
5  std106           Suman     10th   13     90       46     67       67        67    337
6  std107          Saurab     10th   15     45       23     34       45        34    181
7  std108           Sumit     10th   14     23       45     67       78        90    303
8  std109         Kamlesh     10th   15     45       56     78       99        67    345
9  std110           Rohan     10th   15     34       12     24       45        56    171

In [5]:
#  print student name whose marks are above 50 in english
print(studentData[0][1])
print("--------------------------------------------------------------------------------------------")
for rowindex in range(1, len(studentData)):
    if studentData[rowindex][5] > 50:
        print(studentData[rowindex][1])

stdname
--------------------------------------------------------------------------------------------
Ashish Kumar
Aman
Rahul
Ruby
Kamlesh

In [8]:
# display name and age of top 4 scorer in maths

max = []
for rowindex in range(1, len(studentData)):
    if len(max) < 4:
        max.append(studentData[rowindex])
    else:
        minindex = 0
        for i in range(1, 4):    
            if max[i][6] < max[minindex][6] :
                minindex = i
                
        if studentData[rowindex][6] > max[minindex][6]:
            max[minindex] = studentData[rowindex]

for i in range(4):
    print(max[i][0], max[i][1], sep="  ")
    
# print(max)

std101  Ashish Kumar
std109  Kamlesh
std103  Aman
std105  Ruby

In [9]:
# display name, id, age of student bottom three scorer in computer

min = []
for rowindex in range(1, len(studentData)):
    if len(min) < 3:
        min.append(studentData[rowindex])
    else:
        maxindex = 0
        for i in range(1, 3):
            if min[i][8] > min[maxindex][8]:
                maxindex = i
                
        if studentData[rowindex][8] < min[maxindex][8]:
            min[maxindex] = studentData[rowindex]
        
for i in range(3):
    print(min[i][0], min[i][1], min[i][3], sep="  ")

std104  Rahul  14
std102  Abhishek Kumar  14
std107  Saurab  15